
.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  margin-bottom: 4rem;
  

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 1rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 2.5rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio-slider .swiper-slide h1 {
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio img {
  width: 19rem;
  height:12rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

.portfolio-slider .swiper-slide .link{
  margin-top: 1rem;
  font-size: 1em;
}

.portfolio-slider .swiper-slide .link a{
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--orange);
  border-radius: 2rem;
  color:white;
  transition: 0.5s;
  border: 2px solid var(--orange);
  font-family: sans-serif;
}

.portfolio-slider .swiper-slide .link a:hover{
  color: var(--orange);
  background-color: white;
}

@media (min-width:701px) and (max-width: 1200px) {
  .portfolio{
    height: auto;
    margin-top: -12rem;                
    margin-bottom: 10rem;
  }
  .portfolio-slider {
    margin-top: 1rem;
    width: 100%;
  }
  .portfolio img {
    width: 16rem;
    height:10rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
  }
  .portfolio-slider .swiper-slide h1 {
    width:100vw;
    color: var(--orange);
    font-size: 1.5rem;
    font-weight: bold;
  }
}
@media (min-width:480px) and (max-width: 700px) {
  .portfolio{
    height: auto;
    margin-top: -4rem;                
    margin-bottom: 10rem;
  }
  .portfolio-slider {
    margin-top: 1rem;
    width: 100%;
  }
  .portfolio img {
    width: 16rem;
    height:10rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
  }
  .portfolio-slider .swiper-slide h1 {
    width:100vw;
    color: var(--orange);
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  .portfolio{
    height: auto;
    margin-top: -2rem;                
    margin-bottom: 7rem;
  }
  .portfolio-slider {
    margin-top: 1rem;
    width: 100%;
  }
  .portfolio img {
    width: 15rem;
    height:8rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
  }
  .portfolio-slider .swiper-slide h1 {
    width:100vw;
    color: var(--orange);
    font-size: 1.3rem;
    font-weight: bold;
  }

  
.portfolio-slider .swiper-slide .link{
  margin-top: 1rem;
  font-size: 0.6em;
}

.portfolio-slider .swiper-slide .link a{
  
  padding: 0.4rem 0.8rem;
  border: 1.5px solid var(--orange);
  
}

}

@media (min-height: 701px) and (max-height:900px) {
  .portfolio{
    margin-top: 2rem;                
    margin-bottom: 10rem;
  }
  
}

@media (min-height: 400px) and (max-height:700px) {
  .portfolio{
    margin-top: 10rem;                
    margin-bottom: 10rem;
  }
  
}