.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}
.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
  gap: 4rem;
  color: white;
}
.f-icons {
  display: flex;
  gap: 2rem;
}

@media (min-width:1001px) and (max-width: 1200px){
  .f-content{
    transform: scale(.9);
   
  }
}
@media (min-width:481px) and (max-width: 1000px){
  .f-content{
    transform: scale(.8);
    gap:3rem;
   
  }
}

@media screen and (max-width: 480px){
  .f-content{
    transform: scale(.6);
    gap:2.5rem
  }
}
